ul
	li.alert(ng-repeat="notification in notifications", ng-class="notification.class")
		button.close(ng-click="close(notification)")
			i.fa.fa-times

		div.icon
			i(ng-class="notification.icon")
		div.text
			{{ notification.text }}