rouvenherzog-blog-edit-entry-form {
	input.title {
		font-size: 32px;
		line-height: 32px;
		border: none;
		border-bottom: 1px solid #FFF;
		transition: border-color .25s;
		width: 100%;

		&:hover,
		&:focus {
			border-bottom-color: #ddd;
			outline: none;
		}
	}

	rouvenherzog-blog-quill {
		.ql-wrapper {
			.editor {
				min-height: 250px;
			}
		}
	}
}