rouvenherzog-blog-edit-entry-form {
	display: block;
	padding-bottom: 50px;

	input.title {
		font-size: 32px;
		line-height: 32px;
		border: none;
		border-bottom: 1px solid #FFF;
		transition: border-color .25s;
		width: 100%;

		&:hover,
		&:focus {
			border-bottom-color: #ddd;
			outline: none;
		}
	}

	rouvenherzog-blog-quill {
		.ql-wrapper {
			.ql-editor {
				min-height: 250px;
			}
		}
	}

	.media-title {
		margin: 25px 0px 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #DDD;
	}
}