div.media-row-wrapper( ng-if="uploadEnabled || media.length > 0" )
	div.media-row-scroll
		div.media-row( ng-style="rowStyle()" )
			div.media-row-item(ng-repeat="m in media")
				div.thumbnail
					img(ng-src="{{ m.clean.path }}")

					div.actions
						div.btn-group
							button.btn.btn-default.btn-sm(title="Edit", ng-click="edit(m)")
								i.fa.fa-pencil
							button.btn.btn-danger.btn-sm(title="Delete", ng-click="delete(m)")
								i.fa.fa-trash
				div.caption
					h5(ng-class="{'no-title': !m.title}") {{ m.clean.title || 'Untitled' }}
					ul.tag-list
						li.tag-entry(ng-repeat="tag in m.clean.tags")
							small(ng-if="getName(tag)")
								{{ getName(tag) }}
							i.fa.fa-circle-o-notch.fa-spin(ng-if="!getName(tag)")
						li.tag-list-empty(ng-if="m.clean.tags.length == 0").
							No Tags assigned.

			div.clearfix

div( ng-if="!uploadEnabled && media.length == 0")
	div.well.well-sm
		h4 No Media Attached.