input.title(ng-model="entry.title", placeholder="Blog Title")

rouvenherzog-blog-quill(ng-model="entry", field="delta")

h3.media-title
	| Media 

	button.btn.btn-primary.btn-sm.upload-btn
		i.fa.fa-upload &nbsp;
		| Upload media

		input(
			type="file",
			multiple,
			rouvenherzog-media-input-notify="upload_files"
		)

rouvenherzog-media-row(
	media="entry.media"
)