div.entry-index-wrapper
	ul.list-group
		li.list-group-item(ng-repeat="entry in entries")
			a(role="button", ng-href="/admin/blog/{{ entry._id }}")
				div.info
					span.label(ng-class="{'label-success' : entry.published, 'label-info': !entry.published}")
						{{ entry.published ? 'Published': 'Draft' }}
					{{ entry.modified_at | date : 'short' }}

				h3
					{{ entry.clean.title || 'Untitled' }}

	div.navbar.navbar-default.navbar-fixed-bottom
		ul.nav.navbar-nav
			li
				button.btn.btn-primary.navbar-btn(ng-click="create()").
					New Entry