div.toolbar
	button.ql-bold.btn.btn-default Bold
	button.ql-italic.btn.btn-default Italic
	button.ql-list.btn.btn-default List
	button.ql-bullet.btn.btn-default Bullet
	select.ql-size
		option(value="10px") small
		option(value="14px", selected) normal
		option(value="18px") large
		option(value="24px") huge

div.editor