ui-select(multiple, ng-model="model[field]")
	ui-select-match(placeholder="Select a Tag")
		{{ $item.name }}
	ui-select-choices(repeat="tag._id as tag in tags | filter: $select.search")
		{{ tag.name }}