doctype html
html
	head
		base(href="/admin")
		link(rel="stylesheet", href="/static/admin/bower_components/bootstrap/dist/css/bootstrap.css")
		link(rel="stylesheet", href="/static/admin/bower_components/quill/dist/quill.snow.css")
		link(rel="stylesheet", href="/static/admin/bower_components/font-awesome/css/font-awesome.css")
		link(rel="stylesheet", href="/static/admin/bower_components/angular-ui-select/dist/select.css")
		link(rel="stylesheet", href="/static/admin/css/rouvenherzog.css")
		block head
	body(ng-app="rouvenherzog")
		nav.navbar.navbar-inverse
			button.navbar-toggle.collapsed(data-toggle="collapse", data-target="#app-navbar")
				i.fa.fa-navicon
			div.collapse.navbar-collapse#app-navbar
				ul.nav.navbar-nav
					each module in app.get('backend').modules
						li(class={active: module.root == url})
							a(href=module.root, target="_self")= module.name

				ul.nav.navbar-nav.navbar-right
					li.navbar-text
						| #{__('Navigation.Hello')}, 
						rouvenherzog-user-name
						| !
					li
						a.text-primary(href="", rouvenherzog-open-profile-form)
							i.fa.fa-cogs
					li
						a(href="/admin/logout", target="_self")
							i.fa.fa-leave
							| #{__('Navigation.Logout')}

		block body

		rouvenherzog-notification-list

		script(type="text/javascript", src="/static/admin/bower_components/jquery/dist/jquery.js")
		script(type="text/javascript", src="/static/admin/bower_components/bootstrap/dist/js/bootstrap.js")
		script(type="text/javascript", src="/static/admin/bower_components/angular/angular.js")
		script(type="text/javascript", src="/static/admin/bower_components/angular-sanitize/angular-sanitize.js")
		script(type="text/javascript", src="/static/admin/bower_components/angular-route/angular-route.js")
		script(type="text/javascript", src="/static/admin/bower_components/angular-ui-select/dist/select.js")
		script(type="text/javascript", src="/static/admin/bower_components/quill/dist/quill.js")
		script(type="text/javascript", src="/static/admin/js/rouvenherzog.js")
		block footer