rouvenherzog-notification-list {
	ul {
		list-style: none;
		margin: 0px;
		padding: 0px;

		li.panel {
			width: 400px;
			color: white;

			&.success {
				background-color: green;
			}

			&.error {
				background-color: red;
			}

			&.default {
				background-color: yellow;
			}
		}
	}
}